<div class="contact-container">
    <div class="card card-contact">
        <div class="card-contact-details">
            <img class="icon-contact" src="assets/images/IconEmail.svg" alt="email">
            <h3 class="email">caruceruovidiu@yahoo.com</h3>
        </div>
        <div class="card-contact-details">
            <img class="icon-contact" src="assets/images/IconPhone.svg" alt="phone">
            <h3 class="phone-number">0749 917 100</h3>
        </div>
    </div>
    <div class="links">
        <a class="link link-linkedin" href="https://www.linkedin.com/in/ovidiucaruceru" aria-label="linkedin" target="_blank"></a>
        <a class="link link-github" href="https://github.com/OvidiuCaruceru" aria-label="github" target="_blank"></a>
        <a class="link link-figma" href="https://www.figma.com/files/drafts?fuid=1065289642116654452" aria-label="figma" target="_blank"></a>
    </div>
</div>