<nav class="nav-bar">
    <ul class="nav-bar-buttons">
        <li><a class="nav-link" routerLink="/intro" routerLinkActive="nav-link-selected">INTRO</a></li>
        <li><a class="nav-link" routerLink="/skills" routerLinkActive="nav-link-selected">SKILLS</a></li>
        <li><a class="nav-link" routerLink="/projects" routerLinkActive="nav-link-selected">PROJECTS</a></li>
        <li><a class="nav-link" routerLink="/contact" routerLinkActive="nav-link-selected">CONTACT</a></li>
    </ul>
</nav>
