<div class="intro-container card">
    <div class="title-container">
        <h1 class="title">Angular frontend developer</h1>
        <h3 class="subtitle">with an eye for proportions and colors</h3>
    </div>
    <hr class="separator separator-intro">
    <div class="traits-container">
        <p class="trait">Fundamental knowledge of backend with ASP.NET.</p>
        <p class="trait">Excellent written and spoken English.</p>
        <p class="trait">Independent and self organizing.</p>
        <p class="trait">Strong project management background.</p>
    </div>
</div>
