.projects-container {
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--text-dark);
    padding-bottom: 1rem;

}

.card-project {
    width: 100%;
    padding: 0.8rem 0.8rem 0.9rem 0.8rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: -0.05rem;
    text-shadow: var(--shadow-text);
    font-weight: 700;
}

.separator-projects {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: #adadad;
    height: 1px;
}

button {
    all: unset;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--bg-button);
    width: 4rem;
    height: 4rem;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    cursor: pointer;
}

.icon-disabled {
    cursor: not-allowed;
    background-color: transparent;
    box-shadow: none;
    opacity: 0.7;
}

.icon-close {
    background-image: url(../../../assets/images/IconClose.svg);
}
.icon-info {
    background-image: url(../../../assets/images/IconInfo.svg);
}
.icon-website {
    background-image: url(../../../assets/images/IconWebsite.svg);
}
.icon-github {
    background-image: url(../../../assets/images/IconGithub.svg);
}
.icon-figma {
    background-image: url(../../../assets/images/IconFigma.svg);
}

.card-description { 
    margin-top: 2px;
    width: 97%;
    padding: 0.7rem 0.3rem 0.4rem 0.8rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    border-radius: 0px 0px 4px 4px;
}

.text-description {
    color: var(--text-darker);
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 1.3rem;
    text-shadow: var(--shadow-text-sm);
}

.text-description-warning {
    text-align: center;
    background-color: rgb(233, 162, 56);
    border-radius: 2px;
    text-transform: uppercase;
    color: rgb(59, 59, 59);
    text-shadow: none;
    padding: 0.2rem 0;
    font-weight: 600;
}


