.main-container {
    position: relative;
    background-color: var(--bg-color);
    min-height: 100vh;
    overflow: hidden; /* prevent .background-title from overflowing due to the content's forst letter being aligned to the bottom*/
}

.background-name-last,
.background-name-first {
    font-family: "Anton", sans-serif;
    font-size: 25vw;
    position: absolute;
    letter-spacing: -0.03em;
    line-height: 1.1em; /* eliminate the white space from left and top of text in order to align to the edges of the page */
    transform: translate(-0.025em); /* eliminate the white space from left and top of text in order to align to the edges of the page */
    user-select: none;
}

.background-name-last {
    color: var(--color-primary-dim);
    top: 0;
    right: 0;
}

.background-name-first {
    color: var(--color-secondary-dim);
    top: 1em;
    right: 0;
}

.nav-bar-container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.background-title {
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 100%;
    transform-origin: bottom left;
    transform: rotate(-90deg) translateX(-0.1rem);
    width: 80vh;
}

.content-wrapper {
    padding-top: var(--padding-top-main-container);
    padding-right: var(--padding-right-main-container);
    padding-left: var(--padding-left-main-container);
    padding-bottom: 5vh;
}

.download-button {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--bg-button);
    background-color: #8947bbb0;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.22);
    transition: background-color 0.2s ease, transform 0.2s ease;
    transform-origin: center left;
}

.download-button:hover {
    background-color: #9003fc;
    transform: scale(1.1) translateX(-50%);
}

@media (min-width: 550px) {
    .background-name-last,
    .background-name-first {
        font-size: 15vw;
        transform: translate(-0.025em, -0.025em); /* eliminate the white space from left and top of text in order to align to the edges of the page */
    }

    .background-name-last {
        top: 0;
        left: 0;
    }

    .background-name-first {
        top: 0.2em;
        left: 3.35em;
    }

    .background-title {
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
    }

    .nav-bar-container {
        right: calc(var(--padding-right-main-container) - 4rem);
    }

    .download-button {
        font-size: 1.5rem;
    }
}

@media (min-width: 700px) {
    .background-title {
        width: 65%;
    }

    .download-button {
        font-size: 1.6rem;
    }
}

@media (min-width: 1200px) {
    :root {
        --padding-top-main-container: 20vh;
        --padding-right-main-container: 22%;
        --padding-left-main-container: 22%;
    }

    .nav-bar-container {
        right: calc(var(--padding-right-main-container) - 10vw);
    }

    .background-title {
        width: 60%;
    }

    .download-button {
        bottom: 6%;
        font-size: 2rem;
    }
}

@media (min-width: 1700px) {
    :root {
        --padding-top-main-container: 22vh;
        --padding-right-main-container: 25%;
        --padding-left-main-container: 25%;
    }

    .download-button {
        bottom: 10%;
    }
}