<div class="main-container">
    <div class="background-name">
        <span class="background-name-last">Căruceru</span>
        <span class="background-name-first">Ovidiu</span>
    </div>
    <nav class="nav-bar">
        <ul class="nav-bar-buttons">
            <li><a class="nav-link" routerLink="/Intro" routerLinkActive="nav-link-selected">INTRO</a></li>
            <li><a class="nav-link" routerLink="/Skills" routerLinkActive="nav-link-selected">SKILLS</a></li>
            <li><a class="nav-link" routerLink="/Projects" routerLinkActive="nav-link-selected">PROJECTS</a></li>
            <li><a class="nav-link" routerLink="/Contact" routerLinkActive="nav-link-selected">CONTACT</a></li>
        </ul>
    </nav>
    <div class="component-container">
        <router-outlet></router-outlet>
    </div>
</div>