.main-container {
    position: relative;
    background-color: var(--bg-color);
    min-height: 100vh;
}

.background-name-last,
.background-name-first {
    font-family: "Anton", sans-serif;
    font-size: 25vw;
    position: absolute;
    letter-spacing: -0.03em;
    transform: translateY(-0.025em); /* eliminate the white space from left and top of text in order to align to the edges of the page */
    user-select: none;
}

.background-name-last {
    color: var(--color-primary-dim);
    top: 0;
    right: 0;
}

.background-name-first {
    color: var(--color-secondary-dim);
    top: 1em;
    right: 0;
}

/* desktop */
/* .background-name-last {
    color: var(--color-primary-dim);
    top: 0;
    right: auto;
    left: 0;
} */

/* desktop */
/* .background-name-first {
    color: var(--color-secondary-dim);
    top: 0.2em;
    left: 3.35em;
} */

.nav-bar-container {
    position: fixed;
    top: 50%;
    right: 0;
    /* desktop */
    /* right: calc(var(--padding-right-main-container) - 4rem); */
    transform: translateY(-50%);
}

.background-title {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: -0.2rem;
    line-height: 0.73; /* magic number to remove the whitespace below the text in order to align relative to the right edge  */
    user-select: none;
    color: var(--bg-text);
    overflow: hidden; /*remove the white space that was overflowing outside the root element*/
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.content-wrapper {
    padding-top: var(--padding-top-main-container);
    padding-right: var(--padding-right-main-container);
    padding-left: var(--padding-left-main-container);
    padding-bottom: 5vh;
}
