/* resets */
@import '~normalize.css';

/* styling variables */
:root {
    /* colors */
    --bg-color: #D8D8D8;
    --bg-nav-button: #F2F2F2;
    --bg-text: #E3E3E3;
    --color-primary: #4F6B6F;
    --color-primary-dim: #B7C2C3;
    --color-secondary: #734C90;
    --color-secondary-dim: #C7C0CD;
    --text-dark: #545454;
    --text-light: #FCFCFC;
    --separator-card-inner: #AFAFAF;
    --fill-card: rgba(219, 219, 219, 8%);
    /* paddings */
    --padding-top-main-container: 10vh;
    --padding-right-main-container: 20%;
    --padding-left-main-container: 20%;
}