/* resets */
@import '~normalize.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling variables */
:root {
    /* colors */
    --bg-color: #D8D8D8;
    --bg-button: #F2F2F2;
    --bg-text: #E3E3E3;
    --color-primary: #4F6B6F;
    --color-primary-dim: #B7C2C3;
    --color-secondary: #734C90;
    --color-secondary-dim: #C7C0CD;
    --text-dark: #545454;
    --text-darker: #464646;
    --text-light: #FCFCFC;
    --separator-card-inner: #c0c0c0;
    --fill-card: rgba(255, 255, 255, 0.13);

    /* paddings mobile */
    --padding-top-main-container: 10vh;
    --padding-right-main-container: 8%;
    --padding-left-main-container: 2%;
    --padding-top-intro-container: 1rem;
    --padding-right-intro-container: 0.5rem;
    --padding-bottom-intro-container: 1rem;
    --padding-left-intro-container: 1rem;
    
    /* shadows */
    --shadow-card: 0px 1px 4px 1px rgba(0, 0, 0, 0.16);
    --shadow-text: 0px 1px 3px rgba(0, 0, 0, 0.26);
    --shadow-text-sm: 0px 1px 3px rgba(0, 0, 0, 0.26);
    --shadow-nav-button: 0px 1px 6px 3px rgba(50, 50, 50, 0.18);
    --shadow-nav-button-selected: 1px 1px 2px 0px rgba(50, 50, 50, 0.31);
}

.card {
    background-color: var(--fill-card);
    backdrop-filter: blur(6px);
    box-shadow: var(--shadow-card);
    border-radius: 4px;
}

.separator {
    width: 90%;
    height: 2px;
    background-color: var(--separator-card-inner);
    margin: 1.8rem auto;
    border: none;
}